@import url('https://fonts.googleapis.com/css?family=Roboto|Noto+Sans');

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

 body {
   font-family: Roboto, sans-serif !important;
}

.panel {
  background-color: #E3F2FD;
}

.desc-color {
  background-color: #FAFAFA;
}